<%- include('partials/header') %>
    <div class="table-container">
        <h1>Delete task</h1>
        <a class='btn' href="/">Back</a>
        <div class="confirm">
            <h3>Do you really want to delete this task?</h3>
            <br>
            <a class="btn" href="/confirm-delete?id=<%id%>&confirm=yes">yes</a>
            <a class="btn" href="/confirm-delete?id=<%id%>&confirm=no">no</a>
        </div>
    </div>
<%- include("partials/footer") %>