<%- include('partials/header') %>
    <div class="table-container">
        <h1>Update a task</h1>
        <a class='btn' href="/">Back</a>
        <br>
        <br>
        <div>
            <table>
                <tr>
                    <th>Task title</th>
                    <th>Task description</th>
                </tr>
                <tr>    
                    <td><input type="text" placeholder="task title"></td>
                    <td><input type="text" placeholder="task description"></td>
                </tr>
            </table>
        </div>
        <br><br>
        <a class="btn" href="/">Save</a>
    </div>
<%- include("partials/footer") %>